<!DOCTYPE html>
<html>
<head>
  <title>Bands and Venues</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div id="wrap" class="container">
    <%= yield %>
  </div>
</body>
<footer>
  <div id ="footer">
    <div class ="row">
      <div class="text-center">
        <div class="col-md-6">
          <a href="/">Bands</a>
        </div>
        <!-- <div class="col-md-4">
          <a href="/recipes">Recipes</a>
        </div> -->
        <div class="col-md-4">
          <a href="/ingredients">Venues</a>
        </div>
      </div>
    </div>
      <!-- <div class ="row">
        <div class="text-center">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <a href="/recipe_form">Add Recipe</a>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div> -->
</footer>
</html>
